*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body {
    background: linear-gradient(45deg, #797777, #d4d1d1, #000000);
    min-height: 100vh;
}
.top-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}
.top-nav a {
    background: #5a7883;
    padding: 12px 25px;
    font-weight: bold;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
}
.container {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto;
}
.hero-img {
    position: relative;
    grid-column: 1 / 2;
}
.hero-img img {
    width: 100%;
    border-radius: 10px;
}
.hero-title {
    position: absolute;
    bottom: 60px;
    left: 20px;
    background: black;
    color: white;
    font-size: 24px;
    padding: 8px 12px;
}
.hero-tag {
    position: absolute;
    bottom: 30px;
    left: 20px;
    background: #555;
    color: white;
    padding: 6px 10px;
}
.price-box {
    background: #f2f2f2;
    padding: 40px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}
.price-box h2 {
    font-size: 35px;
}
.service-box {
    background: #ddd;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.service-box img {
    width: 60px;
}
.featured-img img {
    width: 70%;
    margin-left: 30px;
}
.featured-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured-text button {
    margin-top: 10px;
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
}
.gallery-title {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 24px;
}
.gallery {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;

}
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .featured-img img {
    width: 100%;
    margin-left: 0;
  }

  .featured-text {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .top-nav {
    flex-direction: column;
    gap: 10px;
  }

  .hero-title, .hero-tag {
    font-size: 18px;
    bottom: 50px;
    left: 10px;
  }

  .price-box, .service-box {
    padding: 20px;
    height: auto;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .hero-title, .hero-tag {
    font-size: 14px;
    padding: 4px 6px;
  }

  .gallery img {
    height: 120px;
  }

  .price-box h2 {
    font-size: 28px;
  }
}
